body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.side-menu {
    width: auto; /* Adjust the width as needed */
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.menu-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: white; /* Updated background color */
    border: none;
    color: black; /* Updated text color */
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submenu {
    display: none;
    padding-left: 20px;
}

.show {
    display: block;
}

.submenu-button {
    display: block;
    width: 100%;
    padding: 5px 20px;
    background-color: white; /* Updated background color */
    border: none;
    color: black; /* Updated text color */
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submenu-button:hover {
    background-color: #666;
}
.menu-button:hover {
    background-color: #555;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.social-icons {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: filter 0.3s;
}

.social-icons img {
    max-width: 30px; /* Set a maximum width for the icons */
    height: auto; /* Allow the height to adjust proportionally */
}

.social-icons a:hover {
    filter: grayscale(100%);
}