body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Set the background color to white */
}

.side-menu {
  width: 200px;
  background-color: #333;
  padding: 20px;
  color: white;
}

.menu-btn,
.submenu-btn {
  width: 100%;
  background-color: white; /* Set the button background color to white */
  border: none;
  color: black; /* Set the button text color to black */
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.submenu {
  display: none; /* Hide submenus by default */
  padding-left: 15px;
}

.submenu-btn:hover {
  text-decoration: underline;
}

#title {
       background-color: #000080;
       width: 100%;
	   color: #FFFFFF;
	   text-align: left;
       font-size: 20px;
       opacity: 0.8;
       /*overflow: auto;*/
}

#titleContent {
	width:80%;
	padding: 1% 0% 1% 15%;
	background-color: inherit;
}

#titleContent a:hover {
    opacity:0.65;
}

#title a{
	color: #FFFFFF;
	text-decoration: none;
}

#header img {
	border: 0;
	width: 70%;
	padding: 5px 5px 5px 5px;
	position: fixed;
	right: 2%;
	overflow: auto;
}

.push{margin-bottom: 30px}

.container {
  display: flex; /* Display side by side */
  align-items: stretch; /* Stretch both columns to equal height */
}

.content {
  flex: 1; /* Expand to fill available space */
  padding: 20px;
  background-color: white; /* Set white background color for content */
}

.content img {
  max-width: 100%;
  height: auto;
}

.icons {
   position: absolute; bottom: 4px; right: 20px;
   width: 100%;
    } 
.socialIcons img {
                    height: 35px;
                    width: 35px;
                    opacity: 1;
                    filter: alpha(opacity=40);
                    margin-right: 2px;
                }
                .icons img {
                    position: relative;
                    display: inline;
                    margin-right: 0 auto;
                    margin-left: 0 auto;
                }

                .socialIcons img:hover {
                    opacity:0.5;
                }