body {
       padding: 0px;
       margin: 0px;
       background-color: #FFFFFF; /* background-color: #000000;*/
       text-align: center;
       font-size: 14px;
       font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
       color: #FFFFFF;
       overflow: auto;
	   /*Make background white, fades into to blue*/
}

#title {
       background-color: #000080;
       width: 100%;
	   color: #FFFFFF;
	   text-align: left;
       font-size: 20px;
       opacity: 0.8;
       /*overflow: auto;*/
}

#titleContent {
	width:80%;
	padding: 1% 0% 1% 15%;
	background-color: inherit;
}

#titleContent a:hover {
    opacity:0.65;
}

#title a{
	color: #FFFFFF;
	text-decoration: none;
}

#header img {
	border: 0;
	width: 70%;
	padding: 5px 5px 5px 5px;
	position: fixed;
	right: 2%;
	overflow: auto;
}

.push{margin-bottom: 30px}

#top, #bottom, #left, #right {
	background: #F5F5F5; /*very light gray*/
	position: fixed;
}

#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

#content {
       /*overflow: hidden;*/
       overflow: auto;
       clear: both;
	   float: left;
       margin: 1% 0% 1% 15%;
       width: 70%;
       background-color: #FFFFFF; /*dark grey #8D8D8D*/
       text-align: left;
       padding: 0px;
	   color: #000000;
	   /*when new header in box, but box shadow to blue and background to white*/
}


#centerContentContainer {
       background-color: inherit;
       text-align: left;
       /*padding: 5px;*/
	   color: #000000;
	   width:100%;
	   /*left:2%;*/
	   position: relative;
	   font-size: 18px;
	   overflow: scroll;
}

#centerContentContainer a {
	color: #000080; /*color: #333333; Navy blue*/
	text-decoration: none;
}
   
#topborder, #bottomborder, #leftborder, #rightborder {
	background: #DAA520; /* Dark gold */
	/*position: fixed;*/
}

#leftborder, #rightborder {
		top: 15px; bottom: 15px;
		width: 2px;
		}
		#leftborder { left: 15px; }
		#rightborder { right: 15px; }
		
#topborder, #bottomborder {
		left: 15px; right: 15px;
		height: 2px;
		}
		#topborder { top: 15px; }
		#bottomborder { bottom: 15px; }

.icons {
   position: absolute; bottom: 4px; right: 20px;
   width: 100%;
    } 
.socialIcons img {
                    height: 35px;
                    width: 35px;
                    opacity: 1;
                    filter: alpha(opacity=40);
                    margin-right: 2px;
                }
                .icons img {
                    position: relative;
                    display: inline;
                    margin-right: 0 auto;
                    margin-left: 0 auto;
                }

                .socialIcons img:hover {
                    opacity:0.5;
                }